<div class="container-fluid">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Instai</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/"
              >IMTP</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/model-examples"
              routerLinkActive="router-link-active"
              >model-examples</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Admin</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
            disabled
          />
          <button class="btn btn-outline-success" type="submit" disabled>
            Search
          </button>
        </form>
        <!-- <app-signin  (toggleSignupDropdown)="toggleSignUpForm()" class="ms-2"></app-signin>
        <app-signup  (toggleSignInDropdown)="toggleSignInForm()"class="ms-2"></app-signup> -->
        <!-- 根據 showSignUpForm 來顯示 SignupComponent -->
        <!-- <app-signin [showDropdown]="showSignInDropdown && !showSignUpDropdown" (toggleSignUpDropdown)="toggleSignUpDropdown()" class="ms-2"></app-signin>
        <app-signup [showDropdown2]="showSignUpDropdown && !showSignInDropdown"(toggleSignInDropdown)="toggleSignInDropdown()" class="ms-2"></app-signup> -->
        <app-signin
          *ngIf="showSignInDropdown"
          [showDropdown]="showSignInDropdown"
          (toggleSignUpDropdown)="handleToggleSignUpDropdown()">
        </app-signin>

        <app-signup
          *ngIf="showSignUpDropdown"
          [showDropdown2]="showSignUpDropdown"
          (toggleSignInDropdown)="handleToggleSignInDropdown()">
        </app-signup>
              </div>
            </div>
          </nav>
        </div>

<div class="m-4">
  <router-outlet></router-outlet>
</div>
