<div class="container-fluid">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-6 g-4">
    <div class="col" *ngFor="let example of examples">
      <div class="card border-light shadow-sm">
        <img
          src="/assets/luke-chesser-eICUFSeirc0-unsplash.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">{{ example.title }}</h5>
          <p class="card-text">
            {{ example.description }}
          </p>
          <div class="d-grid gap-2 col-4 ms-auto">
            <a class="btn custom-btn" [routerLink]="['/model-examples', example.model]">Start</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
