<div class="container-fluid card border-light shadow-sm mb-5">
  <form class="was-validated" [formGroup]="uploadForm">
    <div class="mb-3">
      <div class="col-12 my-3">
        <h4 class="form-label">Select model</h4>
      </div>
      <select
        class="form-select"
        id="validationSelect"
        aria-label="Default select example"
        formControlName="model"
        required
      >
        <option
          *ngFor="let supportedModel of supportedModels"
          [value]="supportedModel.model"
        >
          {{ supportedModel.model }}
        </option>
      </select>
      <div class="invalid-feedback">
        Please enter a message in the textarea.
      </div>
    </div>
  </form>
</div>

<div class="container-fluid card border-light shadow-sm p-0 mb-5">
  <div class="row">
    <div class="col-12 m-3">
      <h4 class="form-label">Upload images</h4>
    </div>
    <div class="col-12 px-4 pb-4">
      <app-upload-file
        title="##"
        accept="image/*"
        [url]="selectedModel.uploadImgUrl"
      ></app-upload-file>
    </div>
  </div>
</div>

<div class="container-fluid card border-light shadow-sm p-0 mb-5">
  <div class="row">
    <div class="col-12 m-3">
      <h4 class="form-label">Upload labels</h4>
    </div>
    <div class="col-12 px-4 pb-4">
      <app-upload-file
        title="##"
        [url]="selectedModel.uploadLabelUrl"
      ></app-upload-file>
    </div>
  </div>
</div>

<div class="container-fluid card border-light shadow-sm mb-5">
  <div class="row">
    <div class="col-12 my-3">
      <h4 class="form-label">Run Example</h4>
    </div>
    <div class="col-12">
      <div class="d-grid">
        <button class="btn btn-primary" (click)="runCb()">Run</button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid card border-light shadow-sm mb-5">
  <div class="row">
    <div class="col-12 my-3">
      <h4 class="form-label">Download Link</h4>
    </div>
    <div class="col-12">
      <input
        class="form-control"
        type="text"
        [placeholder]="selectedModel.downloadUrl"
        aria-label="readonly input example"
        readonly
      />
    </div>
  </div>
</div>

<div class="container-fluid card border-light shadow-sm mb-5">
  <div class="row">
    <div class="col-12 my-3">
      <h4 class="form-label">Clean All</h4>
    </div>
    <div class="col-12">
      <div class="d-grid">
        <button class="btn btn-danger" (click)="runCb()" disabled>Clean</button>
      </div>
    </div>
  </div>
</div>
